
<li class="task-item">
    <div class="task-header">
        <a href="{% url 'edit_task' task.pk %}">
            {{ task.name }}
            <i class="fas fa-edit" title="Редактировать"></i>
        </a>
        <span class="task-date">{{ task.created_at|date:"d.m.Y H:i" }}</span>
        {% if task.subtasks.exists %}
            <button class="toggle-subtasks" data-task-id="{{ task.pk }}" data-count="{{ task.subtasks.count }}">
                {{ task.subtasks.count }}subtasks
            </button>
        {% endif %}
    </div>
    <p>Задача на: {{ task.task_planned_effort }} | (подзадачи на: {{ task.subtask_planned_effort }})</p>
    
    <div class="task-status">
        {% if task.status != 'completed' %}
        <form class="status-form" data-task-id="{{ task.pk }}" method="post" action="{% url 'update_task_status' task.pk %}">
            {% csrf_token %}
            <label for="status-select-{{ task.pk }}" class="status-label">
                Текущий статус: 
            </label>
            <select id="status-select-{{ task.pk }}" name="status" class="status-select">
                {% for status, status_display in task.STATUS_CHOICES %}
                    <option value="{{ status }}" {% if status == task.status %}selected{% endif %}>
                        {{ status_display }}
                    </option>
                {% endfor %}
            </select>
            <button type="submit">Обновить статус</button>
            <div class="status-message" id="status-message-{{ task.pk }}"></div>
        </form>
        {% else %}
            <span>Задача завершена.</span>
        {% endif %}
    </div>

    {% if task.status == 'completed' %}
        <p>Была выполнена за: {{ task.total_actual_effort }}</p>
    {% endif %}

    <a href="{% url 'create_subtask' task.pk %}">Создать подзадачу</a>
    {% if not task.subtasks.exists %}
        <a class="delete-link" href="{% url 'delete_task' task.pk %}">Удалить</a>
    {% else %}
        <span class="note">* удалить нельзя, есть подзадачи</span>
    {% endif %}

    {% include "tasks/task_subtasks.html" with task=task %}
</li>
