body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 15px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

.delete-link {
    color: #dc3545;
}

.delete-link:hover {
    text-decoration: underline;
}

.note {
    color: #6c757d;
    font-size: 0.9em;
}

.task-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.task-date {
    font-size: 0.9em;
    color: #777;
    white-space: nowrap;
}

.status-form {
    display: flex;
    align-items: center;
}

.status-label {
    margin-right: 10px;
}

.status-select {
    margin-right: 10px;
}

.status-message {
    margin-left: 10px;
    color: green;
}

.status-select {
    font-size: 14px;
    padding: 7px;
    width: 150px;
}

#container {
    display: flex;
    gap: 20px; /* Добавляет пространство между блоками */
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#tree {
    width: 30%;
    border-right: 1px solid #ddd;
    padding: 10px;
}

#details {
    width: 70%;
    padding: 10px;
}

.task-item {
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.task-item:hover {
    background-color: #f0f0f0;
}

.task-header a {
    color: #007bff;
    font-size: 1.1em;
    font-weight: bold;
}

.task-header button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.task-header button:hover {
    background-color: #0056b3;
}

.toggle-subtasks {
    background-color: #6c757d;
}

.toggle-subtasks:hover {
    background-color: #5a6268;
}
